<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TMClient.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TMClient.Preferences>
            <setting name="AppFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSaveAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuthPort" serializeAs="String">
                <value>6665</value>
            </setting>
            <setting name="LongPollPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="ApiPort" serializeAs="String">
                <value>6666</value>
            </setting>
            <setting name="LongPollPeriodMinutes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CachedUserLifetimeMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CachedChatLifetimeMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </TMClient.Preferences>
    </userSettings>
</configuration>